<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>json-based-net.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09FCE0D61D4F230600F32726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09FCE0EA1D4F230600F32726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09FCE0F51D4F230600F32726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
